<div *ngIf="listaMarcas && listaMarcas.length > 0; else noProductos" class="container mt-4">
    <div class="table-responsive custom-table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>descripcion</th>
            <th>Sitio Web</th>
            <th>Productos Asociados</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marca of listaMarcas">
            <td>
              <div class="text-center">
                <img [src]="marca.logo" class="product-img" alt="Producto">
              </div>
            </td>          
            <td>{{ marca.nombre_marca }}</td>
            <td>{{ marca.descripcion }}</td>
            <td>${{ marca.sitio_web }}</td>
            <td>{{ marca.productosId }}</td>
            <td>
              <div class="action-buttons">
                <a class="action-button delete" [routerLink]="['/eliminar_marca', marca._id]">
                  <i class="fa fa-trash" aria-hidden="true"></i> 
                </a>
                <a class="action-button edit" [routerLink]="['/actualizar_marca', marca._id]">
                  <i class="fa fa-pencil" aria-hidden="true"></i> 
                </a>
                
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <ng-template #noProductos>
    <div class="alert alert-warning" role="alert">
      No hay proveedores disponibles.
    </div>
  </ng-template>
  
  
  
  <br>
  <br>
  <br>
  <br>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  